<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <iframe
            id="map-viewer-iframe"
            style="width:100%; height:1000px"
            src="https://map-viewer.situm.com?apikey=17be9c4f79a1b20206219be35be2c4e86c5ce1468d9055717353e487fab5b649&domain=">
    </iframe>
  </body>
</html>
